/* */
.container {
	max-width: 88%;
	margin: 0 auto;
}

.input__content {
	display: flex;
	width: 100%;
	margin: 2rem auto;
	input {
		font-size: 1.2rem;
		padding: .6rem 2rem .6rem 1rem;
		border-radius: 6rem;
		border: 1.5px solid rgba($gray, 0.3);
		transition: border .25s;
		&:focus {
			border: 1.5px solid rgba($gray, 1);
			transition: .25s;
		}
	}
	.ico-mglass {
		position: relative;
		top: 1.2rem;
		right: 2.2rem;
		&:before {
			content: "";
			display: inline-block;
			height: .7rem;
			width: .7rem;
			border-radius: 6rem;
			border: 2px solid $gray;
		}
		&:after {
			content: "";
			position: absolute;
			top: 1.3rem;
			left: .7rem;
			background: $gray;
			height: .125rem;
			width: .5rem;
			transform: rotate(45deg);
		}
	}
}

/* Recipe Lists */
.box {
	position: relative;
	min-height: 300px;
	background-color: $white;
	cursor: pointer;
	transition: all 0.25s ease-out;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	&:hover {
		box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
		img {
			transform: scale(1.1);
			opacity: 0.6;
		}
	}
}

.box__thumbnail {
	overflow: hidden;
	height: 200px;
	width: auto;
	opacity: 0.9;
	img {
		transition: all 0.25s ease-out;
	}
}

.box__info {
	background: $white;
	height: 8rem;
	padding: 1rem;
	z-index: 1;
	.box__title {
		font-size: 1.2rem;
		color: $tomato;
		text-transform: uppercase;
		padding-bottom: .5rem;
	}
	.box__subtitle {
		font-size: 1rem;
		a {
			color: inherit;
		}
	}
}

.btn {
	background-color: rgba($leaf, .7);
	color: $white;
	font-size: 1.2rem;
	&:hover {
		background-color: rgba(darken($leaf, 5%), .8);
		color: $white;
	}
	a {
		color: $white;
		font-weight: 200;
	}
}

/* Current Recipe */
.current-recipe {
	.return {
		color: $dodgerblue;
		padding: .5rem .7rem;
		border: 1.5px solid $dodgerblue;
		border-radius: .3rem;
	}

	.current-recipe__title {
		font-size: 3rem;
		color: $tomato;
		padding: 1rem 0;
		text-align: center;
	}

	.current-recipe__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.current-recipe__info {
		padding: 1rem;
	}
	.current-recipe__author {
		font-size: 2.5rem;
	}
	.current-recipe__website {
		font-size: 1.5rem;
		a {
			color: $dodgerblue;
		}
	}
}

@media screen and (min-width: 62.5rem) {
	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: .7rem;
	}
	.input__content {
		width: 40%;
	}
}
